
nav{
    z-index: 1000;
    color: white;
    position: fixed;
    --neg : #111111;
    --gris : #2F2F2F;
    --blan : #f6f6f6;
    --oro : #FFCB74;
    color: white;
    width: 100%;
    top:0;
    left: 0;
    height: 80px;
    background-color: var(--neg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor : url('img/cursor.png'), auto;   
}   
.txnav{
    display: grid;
    align-items: center;
    border-radius: 20px;
    margin: 18px 20px 18px 20px;
    text-align: center;
    flex: 1;
}
.txnav:hover{
    border: 1px solid var(--blan);
    cursor: pointer;
    background-color: var(--gris);
    filter: drop-shadow(#2F2F2F 1px 1px 20px);
    cursor : url('img/cursor.png'), auto;   
}
.logo{
    background-image: url(img/paradox.png);
    margin: 10px;
    width: 62px;
    height: 60px;
    
    cursor : url('img/cursor.png'), auto;   
}
.opciones{
    position: relative;
    left: 10px;
    font-size: 18px;
    display: flex;
    width: 500px;
    flex-direction: row;
}
.inisnav{
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
    cursor : url('img/cursor.png'), auto;   
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}
.logouser{
    background-image: url(img/Usericon.png);
    width: 50px;
    height: 50px;
}
.textuser{
    font-size: 20px;
    width: 140px;
    text-align: center;
    padding: 10px;
}

.inisnav:hover{
    border: 1px solid var(--blan);
    cursor : url('img/cursor.png'), auto;   
    background-color: var(--gris);  
    filter: drop-shadow(#2F2F2F 1px 1px 20px);
}
.txnav.actnav{
    background-color: #2F2F2F;
}